<!doctype html>
<html>
    <head>
        <title>fastu.be</title>
    </head>

    <body>
        <h1>fastu.be</h1>
        <div>
            typeable, shareable links for YouTube
        </div>

        <p>
            <div><b>Try one of these</b></div>
            <div><a href="http://fastu.be/far.from.home" target="_blank">fastu.be/far.from.home</a></div>
            <div><a href="http://fastu.be/endgame-trailer" target="_blank">fastu.be/endgame-trailer</a></div>
            <div><a href="http://fastu.be/i.dont.care" target="_blank">fastu.be/i.dont.care</a></div>
            <div>or try it yourself</div>
        </p>

    </body>
</html>
