<!doctype html>
<html>
    <head>
        <title>fastu.be</title>
    </head>

    <body>
        <h1>fastu.be</h1>
        <div>
            typable, shareable links for YouTube
        </div>

        <div>
            Try one of these
            <p><a href="http://fastu.be/far.from.home" target="_blank">fastu.be/far.from.home</a></p>
            <p><a href="http://fastu.be/endgame-trailer" target="_blank">fastu.be/endgame-trailer</a></p>
            <p><a href="http://fastu.be/i.dont.care" target="_blank">fastu.be/i.dont.care</a></p>
            <p>or try yourself</p>
        </div>

    </body>
</html>
